.libraryTable {
  border-collapse:separate;
  border-spacing: 0em 1em;
  border-color: #f7f9fb;

  th, td {
    padding: 0 1em;
  }

  td:first-child,
  th:first-child {
    border-radius: 10px 0 0 10px;
  }

  td:last-child,
  th:last-child {
    border-radius: 0 10px 10px 0;
  }
}